{% extends 'main.html' %}

{% block content %}


<main id="tt-pageContent">
    <div class="container">
<div class="tt-single-topic-list">
    <div class="tt-item">
         <div class="tt-single-topic">
            <div class="tt-item-header">
                <div class="tt-item-info info-top">
                    <div class="tt-avatar-icon">
                        <i class="tt-icon"><img src="{{question.user.avatar.url}}" width="40" height="40" style="border-radius: 50%;"/></i>
                     
                    </div>
                    <div class="tt-avatar-title">
                        <a href="#">@{{question.user.username}}</a>
                        <!-- <img src="{{question.user.avatar.url}}" width="40" height="40" style="border-radius: 50%;"/> -->
                      
                    </div>
                    <a href="#" class="tt-info-time">
                        <i class="tt-icon"><svg><use xlink:href="#icon-time"></use></svg></i>{{question.created|date:"d M Y" }}
                    </a>
                </div>
                <h3 class="tt-item-title">
                    <a href="#">{{question.title}}</a>
                </h3>
                <div class="tt-item-tag">
                    <ul class="tt-list-badge">
                        <li><a href="#"><span class="tt-color03 tt-badge">exchange</span></a></li>
                        <li><a href="#"><span class="tt-badge">themeforest</span></a></li>
                        <li><a href="#"><span class="tt-badge">elements</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="tt-item-description">
                {{question.body}}
              
            </div>
            <div class="tt-item-info info-bottom">
                <a href="{% url 'questionlike' question.id %}" class="tt-icon-btn">
                    <i class="tt-icon"><svg><use xlink:href="#icon-like"></use></svg></i>
                    <span class="tt-text">{{question.like.count}}</span>
                </a>
                <a href="{% url 'questiondislike' question.id %}"" class="tt-icon-btn">
                     <i class="tt-icon"><svg><use xlink:href="#icon-dislike"></use></svg></i>
                    <span class="tt-text">{{question.dislike.count}}</span>
                </a>
                <a href="#" class="tt-icon-btn">
                     <i class="tt-icon"><svg><use xlink:href="#icon-favorite"></use></svg></i>
                    <span class="tt-text">{{question.favorite}}</span>
                </a>
                <a href="#" class="tt-icon-btn">
                    <i class="tt-icon"><svg><use xlink:href="#icon-view"></use></svg></i>
                    <span class="tt-text">{{question.view}}</span>
                </a>
                <div class="col-separator"></div>
                <a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
                    <i class="tt-icon"><svg><use xlink:href="#icon-share"></use></svg></i>
                </a>
                <a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
                    <i class="tt-icon"><svg><use xlink:href="#icon-flag"></use></svg></i>
                </a>
                <a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
                     <i class="tt-icon"><svg><use xlink:href="#icon-reply"></use></svg></i>
                </a>
            </div>
        </div>
    </div>
    <div class="tt-item">
        <div class="tt-info-box">
            <h6 class="tt-title">Frequent Posters</h6>
            <div class="tt-row-icon">
                {% for an in question.answer.all %}
                <div class="tt-item">
                   
                    <a href="#" class=" tt-icon-avatar">
                        <svg><use xlink:href="#icon-ava-{{an.user.username|make_list|first}}"></use></svg>
                    
                    </a>
                  
                </div>

                {% endfor %}
 
            </div>
         </div>
    </div>
    {% for an in question.answer.all %}


    <div class="tt-item">
         <div class="tt-single-topic">
            <div class="tt-item-header pt-noborder">
                <div class="tt-item-info info-top">
                    <div class="tt-avatar-icon">
                        <i class="tt-icon"><img src="{{an.user.avatar.url}}" width="40" height="40" style="border-radius: 50%;"/>
                        </i>
                    </div>
                    <div class="tt-avatar-title">
                       <a href="#">@{{an.user.username}}</a>
                    </div>
                    <a href="#" class="tt-info-time">
                        <i class="tt-icon"><svg><use xlink:href="#icon-time"></use></svg></i>{{an.created|date:"d M Y" }}
                    </a>
                </div>
            </div>
            <div class="tt-item-description">
                {{an.body}}    
            </div>
            <div class="tt-item-info info-bottom">
                <a href="#" class="tt-icon-btn">
                    <i class="tt-icon"><svg><use xlink:href="#icon-like"></use></svg></i>
                    <span class="tt-text">{{an.like}}</span>
                </a>
                <a href="#" class="tt-icon-btn">
                     <i class="tt-icon"><svg><use xlink:href="#icon-dislike"></use></svg></i>
                    <span class="tt-text">{{an.dislike}}</span>
                </a>
                <a href="#" class="tt-icon-btn">
                     <i class="tt-icon"><svg><use xlink:href="#icon-favorite"></use></svg></i>
                    <span class="tt-text">{{an.favorite}}</span>
                </a>
                <div class="col-separator"></div>
                <a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
                    <i class="tt-icon"><svg><use xlink:href="#icon-share"></use></svg></i>
                </a>
                <a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
                    <i class="tt-icon"><svg><use xlink:href="#icon-flag"></use></svg></i>
                </a>
                <a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
                     <i class="tt-icon"><svg><use xlink:href="#icon-reply"></use></svg></i>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

    </div>
    </main>    
{% endblock %}